@media(max-width: 1099px) {
    .cards-flex {
        justify-content: center;
    }
}

@media(max-width: 960px) {
    #showcase .grid-65-35 {
        gap: 10px;
    }
}

@media(max-width: 900px) {
    #showcase .grid-65-35 {
        grid-template-columns: 1fr;
    }

    #showcase {
        height: 400px;
    }

    #showcase .card-header-text {
        margin-top: 0;
        margin: 0 auto;
        top: -20px;
        margin-bottom: 50px;
    }

    .grid-40-60 {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 768px) {
    #showcase {
        height: 450px;
    }

    #what-we-do {
        padding-top: 140px;
    }

    .grid-40-60 {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 660px) {
    .navbar-wrapper {
        width: 440px;
    }

    .navbar .container {
        padding: 10px 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar ul a {
        display: inline-block;
    }

    .navbar ul .navmenu .navmenu-list {
        top: 110px;
        right: 20px;
    }

    .navbar ul .navmenu span {
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .search-grp input {
        width: 80%;
    }

    .search-grp span {
        width: 20%;
    }
}

@media(max-width: 550px) {
    #showcase {
        height: 550px;
    }

    #what-we-do {
        padding-top: 100px;
    }
}

@media(max-width: 450px) {
    .navbar-wrapper {
        width: unset;
    }

    .navbar .container {
        align-items: unset;
    }

    .navbar h1 {
        text-align: center;
        margin: 0;
    }

    .navbar nav ul {
        overflow: auto;
        white-space: nowrap;
        padding: 0;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    .navbar nav ul::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}

@media(max-width: 430px) {
    #showcase {
        height: 640px;
    }

    #what-we-do {
        padding-top: 80px;
    }

    footer .container{
        padding: 10px 0;
        flex-direction: column-reverse;
    }

    footer .container div {
        text-align: center;
    }

    footer ul {
        display: flex;
    }

    footer ul a {
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
    }
}

@media(max-width: 410px) {
    #what-we-do {
        padding-top: 100px;
    }

    footer {
        padding: 20px 0;
    }

    footer ul {
        overflow: auto;
        white-space: nowrap;
        padding: 0;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    footer ul::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}

@media(max-width: 391px) {
    #showcase {
        height: 740px;
    }

    .about-grp .card-form {
        padding: 20px;
    }
}

@media(max-width: 375px) {
    body {
        font-size: .9rem;
    }

    .container {
        padding: 0 35px;
    }

    .navbar .container {
        align-items: unset;
    }

    .navbar h1 {
        text-align: center;
        margin: 0;
    }

    .navbar nav ul {
        overflow: auto;
        white-space: nowrap;
        padding: 0;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    .navbar nav ul::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    #showcase {
        height: 770px;
    }

    #showcase .card-header-text {
        width: unset;
    }

    #what-we-do {
        padding-top: 45px;
    }
}

@media(max-width: 324px) {
    #showcase .card-header-text {
        display: none;
    }
}

